---
layout: default
---
<div class="profile">
  <div class="avatar">YJ</div>
  <div>
    <p class="eyebrow">{{ site.author.role }}</p>
    <h1 class="profile-name"><span class="l-ko">{{ site.author.name_ko }}</span><span class="l-en">{{ site.author.name_en }}</span></h1>
    <p class="lead"><span class="l-ko">{{ page.summary_ko }}</span><span class="l-en">{{ page.summary_en }}</span></p>
    <a class="btn ghost" href="https://github.com/{{ site.author.github }}">GitHub ↗</a>
  </div>
</div>
<div class="prose">{{ content }}</div>
